bandit==1.7.4
black==22.1.0
cogapp==3.3.0
cyclonedx-bom==3.1.0
flake8==4.0.1
flake8-quotes==3.3.1
graphviz==0.19.1
isort==5.10.1
mkautodoc==0.1.0
mkdocstrings==0.18.1
mypy==0.940
pip-licenses==3.5.3
pipdeptree==2.2.1
pycodestyle==2.8.0
pyflakes==2.4.0
types-jmespath==0.10.2
