bandit==1.7.4
black==22.6.0
cogapp==3.3.0
cyclonedx-bom==3.5.0
flake8==4.0.1
flake8-quotes==3.3.1
graphviz==0.20
isort==5.10.1
mkautodoc==0.1.0
mkdocstrings==0.19.0
mypy==0.961
packaging==21.3
pip-licenses==3.5.4
pipdeptree==2.2.1
pycodestyle==2.8.0
pyflakes==2.4.0
types-jmespath==1.0.1
types-setuptools==62.6.0
